<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.joy.modules.demo.dao.BxDao">


    <resultMap type="com.joy.modules.demo.entity.BxEntity" id="bxMap">
        <result property="id" column="id"/>
        <result property="userId" column="user_id"/>
        <result property="title" column="title"/>
        <result property="bgf" column="bgf"/>
        <result property="clf" column="clf"/>
        <result property="fp" column="fp"/>
        <result property="fp1" column="fp1"/>
        <result property="fp2" column="fp2"/>
        <result property="baoxiaowhy" column="baoxiaowhy"/>
        <result property="status" column="status"/>
        <result property="startTime" column="start_time"/>
        <result property="instanceId" column="instance_id"/>
        <result property="defid" column="defid"/>
        <result property="startUserId" column="start_user_id"/>
        <result property="code" column="code"/>
        <result property="createTime" column="create_time"/>
        <result property="createId" column="create_id"/>
        <result property="updateId" column="update_id"/>
        <result property="updateTime" column="update_time"/>
        <result property="remark" column="remark"/>
        <result property="actResult" column="act_result"/>
        <result property="bx_sum" column="bx_sum"/>
    </resultMap>

    <sql id="Base_Column_List" >
        id,
        user_id,
        title,
        bgf,
        clf,
        fp,
        fp1,
        fp2,
        status,
        start_time,
        instance_id,
        defid,
        start_user_id,
        code,
        create_time,
        create_id,
        update_time,
        update_id,
        remark,
        act_result,
        baoxiaowhy,
        bx_sum
    </sql>

    <select id="queryObject" resultType="com.joy.modules.demo.entity.BxEntity" resultMap="bxMap">
        select
        <include refid="Base_Column_List" />
        from bxaply
        where id = #{value}
    </select>

    <select id="queryList" resultType="com.joy.modules.demo.entity.BxEntity" resultMap="bxMap">
        select
        <include refid="Base_Column_List" />,(SELECT user_name FROM sys_user s WHERE s.id=l.user_id)AS baoxiaoUser
        from bxaply l
        WHERE 1=1
        <if test="title!=null and title!='' ">
            AND title LIKE concat('%',#{title},'%')
        </if>
        ORDER BY create_time DESC
    </select>

    <select id="queryTotal" resultType="int">
        select count(*) from bxaply
    </select>

    <!-- <select id="getBxfp" resultType="byte">
         select fp from baoxiaoAply where code = #{fp}
     </select>-->

    <insert id="save" parameterType="com.joy.modules.demo.entity.BxEntity">
        insert into bxaply
        (
        <include refid="Base_Column_List" />
        )
        values
        (
        #{id},
        #{userId},
        #{title},
        #{bgf},
        #{clf},
        #{fp},
        #{fp1},
        #{fp2},
        #{status},
        #{startTime},
        #{instanceId},
        #{defid},
        #{startUserId},
        #{code},
        #{createTime},
        #{createId},
        #{updateId},
        #{updateTime},
        #{remark},
        #{actResult},
        #{baoxiaowhy},
        #{bx_sum}
        )
    </insert>

    <update id="update" parameterType="com.joy.modules.demo.entity.BxEntity">
        update bxaply
        <set>
            <if test="userId != null">`user_id` = #{userId}, </if>
            <if test="title != null">`title` = #{title}, </if>
            <if test="bgf != null">`bgf` = #{bgf}, </if>
            <if test="clf != null">`clf` = #{clf}, </if>
            <if test="fp != null">`fp` = #{fp}, </if>
            <if test="fp1 != null">`fp1` = #{fp1}, </if>
            <if test="fpw != null">`fp2` = #{fp2}, </if>
            <if test="status != null">`status` = #{status},</if>
            <if test="startTime != null">`start_time` = #{startTime},</if>
            <if test="instanceId != null">`instance_id` = #{instanceId},</if>
            <if test="defid != null">`defid` = #{defid},</if>
            <if test="startUserId != null">`start_user_id` = #{startUserId},</if>
            <if test="createId != null">`create_id` = #{createId},</if>
            <if test="createTime != null">`create_time` = #{createTime},</if>
            <if test="updateId != null">`update_id` = #{updateId},</if>
            <if test="updateTime != null">`update_time` = #{updateTime},</if>
            <if test="remark != null">`remark` = #{remark},</if>
            <if test="actResult != null">`actResult` = #{actResult},</if>
            <if test="baoxiaowhy != null">`baoxiaoWhy` = #{baoxiaowhy},</if>
        </set>
        where id = #{id}
    </update>

    <delete id="delete">
        delete from bxaply where id = #{value}
    </delete>

    <delete id="deleteBatch">
        delete from bxaply where id in
        <foreach item="id" collection="array" open="(" separator="," close=")">
            #{id}
        </foreach>
    </delete>

</mapper>