<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.joy.modules.demo.dao.SumDao">

    <update id="sum" parameterType="Map">
        update extend_act_model
        <set>
         <!--   <if test="#{tablename} == 'baoxiaoaply'">
                `costmoney` = (select sum(sum) from baoxiaoaply)
            </if>
            <if test="#{tablename} == 'bxaply'">
                `costmoney` = (select sum(bx_sum) from bxaply)
            </if>-->
            `costmoney` = (select sum(sum) from baoxiaoaply)
        </set>
        where name = (select name_ from act_re_procdef where id_ = #{defid})
    </update>
</mapper>