<meta charset="UTF-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">
<!--<link rel="stylesheet" href="${rc.contextPath}/css/bootstrap.min.css">
<link rel="stylesheet" href="${rc.contextPath}/css/font-awesome.min.css">-->
<link href="https://cdn.bootcss.com/bootstrap/3.3.5/css/bootstrap.min.css" rel="stylesheet">
<link href="https://cdn.bootcss.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">
<link rel="stylesheet" href="https://dev-1253372767.file.myqcloud.com/joy/plugins/jqgrid/ui.jqgrid-bootstrap.css">
<!--<link rel="stylesheet" href="${rc.contextPath}/plugins/ztree/css/metroStyle/metroStyle.css">-->
<link href="https://cdn.bootcss.com/zTree.v3/3.5.33/css/metroStyle/metroStyle.min.css" rel="stylesheet">
<link rel="stylesheet" href="https://dev-1253372767.file.myqcloud.com/joy/css/main.css">
<link rel="stylesheet" href="${rc.contextPath}/plugins/layui/css/layui.css">
<link rel="icon" href="https://dev-1253372767.file.myqcloud.com/favicon.ico" type="image/x-icon" />
<link rel="shortcut icon" href="https://dev-1253372767.file.myqcloud.com/favicon.ico" />
<!--<script src="${rc.contextPath}/js/jquery.min.js"></script>-->
<script src="https://cdn.bootcss.com/jquery/2.0.3/jquery.min.js"></script>
<!--<script src="${rc.contextPath}/plugins/layer/layer.js"></script>-->
<script src="https://cdn.bootcss.com/layer/3.0.3/layer.min.js"></script>
<script src="https://dev-1253372767.file.myqcloud.com/joy/plugins/layui/layui.js"></script>
<!--<script src="${rc.contextPath}/js/bootstrap.min.js"></script>-->
<script src="https://cdn.bootcss.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
<!--<script src="${rc.contextPath}/js/vue.min.js"></script>-->
<script src="https://cdn.bootcss.com/vue/2.5.17-beta.0/vue.min.js"></script>
<script src="https://dev-1253372767.file.myqcloud.com/joy/plugins/jqgrid/grid.locale-cn.js"></script>
<script src="https://dev-1253372767.file.myqcloud.com/joy/plugins/jqgrid/jquery.jqGrid.min.js"></script>
<script src="https://dev-1253372767.file.myqcloud.com/joy/plugins/ztree/jquery.ztree.all.min.js"></script>
<script src="https://dev-1253372767.file.myqcloud.com/joy/js/common.js"></script>
<script src="https://dev-1253372767.file.myqcloud.com/joy/plugins/layer/mylayer.js"></script>

