<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>主页</title>
    <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">
    <link rel="stylesheet" href="../css/bootstrap.min.css">
    <link rel="stylesheet" href="../css/font-awesome.css">
</head>
<body>
<div class="panel panel-default">
    <div class="panel-heading">Joy电子化报销服务系统</div>
    <div style="padding: 10px 0 20px 10px;">
        <h3>&nbsp;&nbsp;&nbsp;项目介绍</h3>
        <ul>
            <li>采用Spring boot，Mybatis，Activiti工作流引擎等开源技术开发</li>
            <li>深入企业内部了解财务报销业务实际运行状况</li>
            <li>采用Layui前端框架，页面美观大气，多浏览器兼容</li>
        </ul>
        <h3>&nbsp;&nbsp;&nbsp;项目仓库</h3>
        <ul>
            <li class="fa fa-github"><a href="https://github.com/surick/Joy-boot" target="_blank">GitHub</a></li>
            <li class="fa fa-git"><a href="https://gitee.com/surick/Joy-boot" target="_blank">Gitee</a></li>
        </ul>
    </div>
</div>
</body>
</html>